body {
    background-color:#66cdaa;
    font-family:"Lucida Handwriting", cursive;

}

h1{ 
    font-style: italic;
    color: red;
}

#p1{ 
    color: blue;

}
.c1{
        color: yellow;

}
#b1{
    background-color: black;
    color: mediumaquamarine;
}
.run1{
      height: 50%;
      width:25%;
}
#ASAP{
      height:300px;
      width:250px;
}